body{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#form-validation{
    background-color: white;
    text-align: center;
    padding: 50px;
    border-radius: 15px;
    border: 2px solid black;
}
h2{
    margin: 0px 0px 10px 0px;
}
input{
    width: 200px;
    margin: 10px 0px;
    padding: 10px;
    border: 2px solid cornflowerblue;
    border-radius: 20px;
}
input[type="submit"]{
    width: 222px;
    background-color:  cornflowerblue;
    color: white;
}
.error{
    color: red;
    margin: -1px;
    text-align: left;
}